.achivements {
  background-color: @grey-background;
  border: none;
  margin: 0;
  padding: 0;
}

.achivements legend {
  .red-legend;
  padding: 35px 51px 40px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .achivements {
    order: 4;
    background-color: @white;
    border: 2px solid @grey-whisper;
    border-radius: 1px;
    margin: 0 22px 45px;
    // width: auto;
  }

  .achivements legend {
    background-color: @white;
    width: auto;
    margin: 0 auto;
    padding-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .achivements {
    // width: 940px;
    grid-column: span 2;
    margin: 0;
  }

  .achivements legend {
    width: auto;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
