.achivement-item {
  position: relative;
  margin-bottom: 50px;
}

.achivement-item:nth-child(2),
.achivement-item:nth-child(4) {
  margin-bottom: 55px;
}

.achivement-item:last-child {
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .achivement-item {
    margin-bottom: 50px;
  }

  .achivement-item:last-child {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .achivement-item {
    width: 310px;
    height: 80px;
    margin-bottom: 0;
  }

  .achivement-item:last-child,
  .achivement-item:nth-child(2),
  .achivement-item:nth-child(4) {
    margin-bottom: 0;
  }

  .achivement-item:nth-child(3) label,
  .achivement-item:nth-child(4) label {
    margin-left: 60px;
  }

  .achivement-item:nth-child(5) label,
  .achivement-item:nth-child(6) label {
    margin-left: 45px;
  }

  .achivement-checkbox:checked + label::before {
    top: -5px;
    left: 0;
  }

  .achivement-item:nth-child(5) .achivement-checkbox:checked + label::before {
    left: -10px;
  }

  .achivement-checkbox + label::before {
    top: -5px;
    left: 0;
  }

  .achivement-item:last-child .achivement-checkbox + label::before {
    top: -5px;
    left: -10px;
  }
}
