.app-question {
  background-color: @grey-background;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.app-question legend {
  .red-legend;
  padding: 35px 70px 40px;
  width: 100%;
}

.app-question__list {
  .list-style;
  padding: 0;
  margin: 0 auto;
  width: 85%;
}

.app-question__item {
  font-size: 18px;
  line-height: 30px;
  margin-left: 65px;
  margin-bottom: 45px;
  position: relative;
}

.app-question__radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 41px;
  height: 41px;
  cursor: pointer;
  background: url("../img/radio.svg") 0 0 no-repeat;
}

.app-question__radio + label:hover::before,
.app-question__radio + label:focus::before {
  background: url("../img/radio_hover.svg") 0 0 no-repeat;
}

.app-question__radio + label:active::before {
  background: url("../img/radio_active.svg") 0 0 no-repeat;
}

.app-question__radio:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 41px;
  height: 41px;
  cursor: pointer;
  background: url("../img/radio_checked.svg") 0 0 no-repeat;
}

.app-question__radio:checked + label:hover::before,
.app-question__radio:checked + label:focus::before {
  background: url("../img/radio_checked_hover.svg");
}

.app-question__radio:checked + label:active::before {
  background: url("../img/radio_checked_active.svg");
}

@media (min-width: @tablet-width) {
  .app-question {
    order: 2;
    background-color: @white;
    border: 2px solid @grey-whisper;
    border-radius: 1px;
    margin: 0 22px;
    margin-bottom: 60px;
  }

  .app-question legend {
    background-color: @white;
    width: auto;
    margin: 0 auto;
    padding: 8px 25px;
  }

  .app-question__list {
    width: 80%;
    margin: 38px 0 0 58px;
    padding: 0;
    padding-bottom: 10px;
  }

  .app-question__item {
    margin-left: 60px;
    margin-bottom: 45px;
  }

  .app-question__radio:checked + label::before {
    top: -5px;
    left: -60px;
  }
}

@media (min-width: @desktop-width) {
  .app-question {
    margin: 0;
    padding-bottom: 15px;
  }

  .app-question__list {
    margin-top: 40px;
    margin-left: 0;
    padding-bottom: 0;
  }

  .app-question__item {
    margin-left: 133px;
    margin-bottom: 45px;
  }

  .app-question__radio:checked + label::before,
  .app-question__radio + label::before {
    top: -2px;
    left: -65px;
  }
}
