.comment {
  border: none;
  margin: 0 20px 40px;
  padding: 0;
}

.comment legend {
  .red-legend;
  background-color: @white;
  margin-bottom: 15px;
  padding-left: 50px;
}

@media (min-width: @tablet-width) {
  .comment {
    order: 5;
    border: 2px solid @grey-whisper;
    border-radius: 1px;
    padding: 20px 60px 50px;
    margin-bottom: 48px;
  }

  .comment legend {
    width: auto;
    margin: 0 auto;
    padding: 14px 38px;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    grid-column: span 2;
    margin: 0;
    padding: 25px 80px 40px 60px;
  }

  .comment legend {
    margin: 0 auto;
    padding: 10px 38px;
  }
}
