.comment-field {
  font-size: 18px;
  line-height: 30px;
  color: @light-black;
  text-align: center;
  border: 2px solid @grey-whisper;
  border-radius: 1px;
  width: 100%;
  height: 185px;
  padding: 15px 0 0;
}

@media (min-width: @tablet-width) {
  .comment-field {
    height: 175px;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .comment-field {
    height: 110px;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
  }
}
