.contacts__wrapper {
  margin: 47px auto 0;
}

.contacts__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  color: #283645;
  text-align: center;
  margin-bottom: 45px;
}

.contacts__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
}

.contacts__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}

.contacts__item-link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
  text-decoration: none;
}

.contacts__map {
  background: turquoise url(../../img/contacts_map.jpg);

}
