.forms__wrapper {
  margin: 54px auto 26px;
}

.forms-intro {
  color: #283645;
  line-height: 30px;
  margin: 0 20px 55px;
  text-align: center;
}

.forms fieldset {
  border: none;
}

.name-data__list,
.user-contacts__list {
  list-style: none;
  padding-left: 0;
}

.name-data__item {
  display: flex;
  flex-direction: column;
}

.name-data__item label,
.user-contacts__item label,
.comment label {
  line-height: 10px;
  color: #D22856;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 17px;
}

.name-data__item input,
.user-contacts__item input {
  font-size: 18px;
  line-height: 13px;
  color: #283645;
  padding: 23px 78px 23px 20px;
  margin: 0 0 29px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.achivements,
.app-question {
  background-color: #F2F2F2;
}

.achivements legend,
.app-question legend {
  color: #D22856;
  line-height: 18px;
  text-align: center;
  margin: 42px auto;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.achivements-list,
.app-question__list {
  list-style: none;
  padding-left: 0;
  margin: 0 20px;
}

.achivement-name,
.app-name {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 69px;
}

.comment-field {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.send-button,
.modal__button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}
.send-button {
  padding: 23px 45px;
}

.modal__button--errow {
  padding: 23px 124px;
}

.modal__button--success {
  padding: 23px 65px;
}

.modal {
  text-align: center;
}

.modal__message {
  color: #283645;
}
