.information {
  width: 100%;
}

.information__wrapper {
  margin: 0 auto;
  background-color: #F2F2F2;
  overflow: hidden;
}

.information__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  color: #283645;
  text-align: center;
  margin: 46px 20px 70px;
}

.information__list {
  list-style: none;
  padding-left: 0;
  padding-top: 53px;
  margin: 0 auto 48px;
  text-align: center;
}

.information__picture {
  margin: 0 81px;
}
