.page-footer__wrapper {
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  // width: 145px;
  // height: 40px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  margin: 0 auto 50px;
  text-align: center;
  justify-content: center;
}

.page-footer__social {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .page-footer__logo {
    padding: 36px 0 51px;
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 47px auto 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .page-footer__logo {
    padding: 70px 0 87px;
  }

  .page-footer__copyright {
    margin: 81px 0 82px auto;
  }
}
