.panorama {
  margin: 0;
  background-color: @white;
  margin-bottom: 15px;
}

.panorama__pic img {
  width: 100%;
  min-height: 137px;
  margin: 0;
  background-size: cover;
}

.panorama__pic {
  position: relative;
  display: block;
}

.panorama__pic::before {
  content: "";
  width: 140px;
  height: 36px;
  background-image: url("../../img/panorama_ribbon.svg");
  position: absolute;
  top: 0;
  right: 20px;
}

.panorama .photo-author {
  margin-top: 0;
  margin-bottom: 0;
}

.panorama .photo-text {
  margin-left: 17px;
  margin-bottom: 0;
}

.panorama .photo-like {
  margin: 0 17px;
}

.panorama .like-counter {
  margin: 12px 0 12px 31px;
}

.panorama .photo-like::before {
  top: 18px;
}

.panorama__wrapper {
  margin: 0 20px;
  background-color: @grey-background;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .panorama__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px 50px;
    padding: 15px 70px 25px 15px;
  }

  .panorama .photo-author {
    margin-left: 15px;
    order: 1;
  }

  .panorama .photo-text {
    margin-left: 15px;
    margin-right: 0;
    order: 3;
  }

  .panorama .photo-like {
    order: 2;
    margin: -23px 20px 0 425px;
    position: relative;
    top: 0;
    right: 0;
    width: 120px;

    &::before {
      top: 6px;
    }
  }

  .panorama__wrapper button {
    margin-left: 16px;
    margin-right: 0;
  }

  .panorama__pic::before {
    top: 55px;
  }

  .panorama .like-counter {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .panorama__wrapper {
    width: 940px;
    margin: 0 auto 45px;
    padding: 17px 0 25px;
  }

  .panorama__pic::before {
    right: 130px;
  }

  .panorama .photo-author {
    margin-left: 27px;
  }

  .panorama .photo-text {
    margin: 0;
    margin-left: 27px;
  }

  .panorama .photo-like {
    margin-left: 765px;
  }
}
