.panorama {
  margin: 0;
  background-color: @white;
}

.panorama__pic img {
  width: 100%;
  min-height: 137px;
  // background: @white url("../img/article_photo_one.jpg") no-repeat;
  margin: 0;
  background-size: cover;
}

.panorama .photo-author {
  margin-top: 0;
}

.panorama__wrapper {
  margin: 0 20px;
  background-color: @grey-background;
  // padding-top: 25px;
}

@media (min-width: @tablet-width) {
  // .panorama {
  //   grid-column: span 2;
  // }

  .panorama__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 20px 50px;
    padding: 30px 70px 32px 30px;
  }

  .panorama__wrapper .photo-like {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .panorama__wrapper button {
    margin-left: 16px;
    margin-right: 0;
  }

  // .panorama__pic img {
  //   // background-image: url("../img/article_photo_one_tablet.jpg");
  //   height: 509px;
  //   margin: 0 -20px;
  // }
}

@media (min-width: @desktop-width) {
  // .panorama {
  //   grid-column: span 3;
  // }

  .panorama__wrapper {
    width: 874px;
    margin: 0 auto 50px;
    padding: 30px 39px 31px 27px;
  }

  .panorama .photo-text {
    margin: 0;
  }
}
