.photo-like {
  display: flex;
  margin: 10px 17px 20px;
}

@media (min-width: @tablet-width) {
  .photo-like {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0;
    left: 30px;
    bottom: 22px;
    width: 80%;
  }
}

@media (min-width: @desktop-width) {
  .photo-like {
    left: 27px;
    width: 244px;
    bottom: 18px;
  }
}
