.price {
  background-color: @grey-background;
}

.price__wrapper {
  margin: 83px 0 49px;
}

.table-head {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @light-black;
  border: 2px solid @light-black;
  border-radius: 1px 0 0 0;
  color: @white;

}

.table-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  margin: 19px auto 15px;
  padding: 0;
  text-transform: uppercase;
}

.table-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 13px;
  padding: 0;
  margin-bottom: 35px;
}

.table-line {
  // width: 320px;
  display: flex;
  justify-content: space-between;
  background-color: @white;
  border: 2px solid @grey-whisper;
  border-radius: 1px 0 0 0;
  padding: 24px 20px;
}

.table-text {
  color: @light-black;
  text-transform: uppercase;
}
