.reviews__item {
  margin: 45px auto 0;
  text-align: center;
}

.reviews__item-author {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin: 0 auto 10px;
  text-align: center;
  display: block;
}

.reviews__item-text {
  margin: 12px 20px 30px;
  line-height: 30px;
}

.reviews__item-info {
  display: none;
}

.reviews__prev,
.reviews__next {
  display: none;
}

.reviews__toggles {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .reviews__item-text {
    font-size: 18px;
    line-height: 30px;
    order: 0;
    margin: 0 auto 35px;
    padding: 0 20px;
  }

  .reviews__item-author {
    order: 1;
    font-size: 20px;
    margin-bottom: 0;
  }

  .reviews__item-info {
    display: inline;
    order: 3;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .reviews__toggles {
    width: 15%;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    position: relative;
    max-width: 1200px;
    margin: 185px auto 0;
  }

  .reviews__wrapper::before {
    content: "";
    width: 76px;
    height: 63px;
    position: absolute;
    background-image: url("../img/quotes.svg");
    top: -113px;
    left: 562px;
  }

  .reviews__list {
    position: relative;
  }

  .reviews__item-text {
    width: 688px;
    margin-bottom: 35px;
  }

  .reviews__item-author {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .reviews__item-info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__prev {
    display: flex;
    border: none;
    position: absolute;
    top: 30px;
    left: 125px;
    opacity: 0.3;
    background-color: @white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__next {
    display: flex;
    border: none;
    position: absolute;
    top: 30px;
    right: 125px;
    opacity: 0.3;
    background-color: @white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
