.table-yes {
  margin-right: 20px;
  // margin-top: 5px;
}

@media (min-width: @tablet-width) {
  .table-yes {
    width: 100%;
    padding: 12px 60px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .table-yes {
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
}
