@media (min-width: @tablet-width) {
  .tool-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 1px fade(@light-black, 10%);
    padding: 36px 0 34px;
  }
}

@media (min-width: @desktop-width) {}
