@media (min-width: @tablet-width) {
  .upload-buttons {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .upload-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
  }
}
